<div class="container static-content about-us">

    <h1>Про Проект</h1>

    <p>
      Початковий варіант цього сайту був написаний 3-ма людьми за 48 годин в межах доброчинного хакатону <a href="http://hack4good.io/">Hack4Good</a>. 
      Ми майже щодня щось нове прикручуємо, щось фіксаємо і щось поліпшуємо. 
      Успіх цього проекту залежить від Вас, наших користувачів.
    </p>

    <p>
    Якщо ви помітили помилку чи глюк - просимо не полінуватися і <a href="https://github.com/vredchenko/enviromap/issues?page=1&state=open">зазвітувати тут</a> (New Issue)
    </p>

    <h2>Долучайтесь!</h2>

    <ul>
      <li>Якщо Ви вмілий програміст і бажаєте допомогати в розвитку проекту - ми будемо раді бачити Вас в нашій команді</li>

      <li>Якщо Ви маєте зауваження чи побажання щодо розширення функціональності проекту</li>

      <li>Ми також шукаємо людей для наповнення інформаційної секції "Ресурси"</li>

      <li>На початковій стадії запуску цього сервісу кожен активний користувач для нас на вагу золота, тож люб&#8217;язно просимо нас лайкати і про нас щебетати</li> 
    </ul>

    <h2>Контакти</h2>

    <ul>
      <li>Александра Ковбаско <a href="mailto:artimia@gmail.com">artimia@gmail.com</a></li>
      <li>Ольга Омелюх ?</li>
      <li>Борис Купар ?</li>
      <li>Валерій Редченко <a href="mailto:lazyval@gmail.com">lazyval@gmail.com</a></li>
    </ul>

    

    
</div>


