<div class="col-md-4">
  <div class="row">
      <label class="control-label col-sm-4">Тип проблеми</label>
      <div class="col-sm-8">
        <select class="selectpicker" multiple data-type="probType">
          <% _.each(probTypes, function(acs) { %>
            <option selected><%= acs %></option>
          <% }); %>
        </select>
      </div>
  </div>
</div>
<div class="col-md-4">
  <div class="row">
      <label class="control-label col-sm-4">Статус</label>
      <div class="col-sm-8">
        <select class="selectpicker" multiple data-type="probStatus">
          <% _.each(statuses, function(acs) { %>
              <option selected><%= acs %></option>
          <% }); %>
        </select>
      </div>
  </div>
</div>