<div id="map"></div>

<div class="map-filter">
    <form id="filter">
        <div class="form-group">
            <button class="btn btn-primary btn-add" type="button">Повідомити про проблему</button>
        </div>
        <div class="form-group">
            <input class="form-control" type="hidden" placeholder="Пошук...">
        </div>
        <div class="settings"></div>
    </form>
</div>

<div class="problem-detail">

</div>

<div class="modal fade" id="add-problem">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Додати проблему</h4>
            </div>
            <form role="form" id="submit-problem" class="step1">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Заголовок</label>
                        <input required="required" class="form-control" id="title" placeholder="Узагальніть проблему">
                    </div>
                    <div class="form-group">
                        <label for="title">Тип проблеми</label>
                        <select class="form-control" id="type">

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Опис проблеми</label>
                        <textarea required="required" class="form-control" rows="4" id="description" placeholder="Опишіть якомога детальніше проблему"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="proposal">Пропозиція щодо рішення</label>
                        <textarea required="required" class="form-control" rows="4" id="proposal" placeholder="Ваші пропозиції"></textarea>
                    </div>
                    <div class="form-group dropzone">
                        <label for="photo">Прикріпіть фото</label>
                        <button type="button" class="btn btn-default choose-photos">Оберіть один або кілька файлів</button>
                        <div class="dropzone-previews"></div> <!-- this is were the previews should be shown. -->
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        <div id="problem-map" style="width: 100%; height: 200px;"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Додати</button>
                </div>
            </form>
            <form class="hidden step2">
                <div class="modal-body">
                    <p>Дякуєм за заявку. Чи хочете ви допомогти вирішити цю проблему?</p>
                    <div class="form-group">
                        <label for="email1">Email</label>
                        <input class="form-control email" required="required" id="email1" placeholder="Вкажіть будь ласка емейл" type="email"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Ні</button>
                    <button type="submit" class="btn btn-primary">Так</button>
                </div>
            </form>
            <form class="hidden step3">
                <div class="modal-body">
                    <p>Чи хотіли б ви координувати процес?</p>
                    <div class="form-group">
                        <label for="email2">Email</label>
                        <input class="form-control email" required="required" id="email2" placeholder="Вкажіть будь ласка емейл" type="email"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Ні</button>
                    <button type="submit" class="btn btn-primary">Так</button>
                </div>
            </form>
            <div class="hidden step4 modal-body">
                <p>Будь-ласка проголосуйте за інші проблеми.</p>
            </div>
            <div class="hidden step5 modal-body">
                <p>Дякуюємо. Ми з вами звяжемось.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->