$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face
{
  font-family: WWF;
  src: url(../fonts/wwf.otf);
}

html, body, #main-content, #main-content > div {
    height: 100%;
}

#map-pane {
    height: 100%;
    width: 100%;
}

.loader {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url("../images/ajax-loader.gif");
    float: right;
    margin-top: 9px;
    margin-left: 3px;
}

.wwf-logo {
    width: 33px;
    height: 50px;
    background-image: url("../images/wwf-logo.png");
    float: left;
    margin-right: 20px;
    margin-left: 25px;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-family: WWF;
    font-size: 1.8em;
}

ul.nav ul.dropdown-menu {
    left: -179%;
}

h1 {
  font-family: WWF;
  font-size: 4em;
  margin-bottom: 0.6em;
}
h4 {
  font-family: WWF;
  font-size: 2em;
}
label.control-label {
  font-family: WWF;
  font-size: 1.6em;
  font-weight: normal;
}
ul.nav {
  font-family: WWF;
  font-size: 1.4em;
}
ul.nav ul.dropdown-menu {
  font-family: WWF;
  font-size: 1em;
}


#main-content {
    padding-top: 51px;
    position: relative;
    box-sizing: border-box;
}

.container .text-muted {
    margin: 20px 0;
}

.map-filter {
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 100px;
    width: 260px;
    top: 65px;
    padding: 18px;
    opacity: .97;
}

.problem-detail {
    display: none;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    right: 100px;
    width: 620px;
    top: 65px;
    padding: 18px;
    opacity: .97;

    .inner {
        width: 588px;
        height: 500px;
        overflow: auto;
        padding-right: 10px;
    }
}

// Leaflet cluster styles
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

  /* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}